.settings
.buildpath
.project
composer.lock
*.phar
.vagrant/
vendor/
config/local.php
config/*.local.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
public/images/*/*
public/images2/
public/cached/

tests/_output/*
tests/_output/*