.form-course-order .field-date-list label.label {margin: 7px 0 15px 59px;font-size: 0.9em;}
.form-course-order .date-field-toggle-wrapper{/* overflow: hidden; */}
.form-course-order .date-field-toggle-wrapper>.field{margin: 0}
.form-course-order label.radio{padding: 5px 0 17px 0;border-bottom: 1px dashed #ccc;width: 413px;}
.form-course-order label.radio:LAST-CHILD{border-bottom: none;}
.form-course-order label.radio .to-left{width: 170px;margin: 0;}
.form-course-order label.radio .to-right{/* width: 220px; */text-align: right;/* background: red; */}
.form-course-order label.radio .date{margin-bottom: 5px;display: inline-block;}
.form-course-order .calendar-pager{font-size: 0.9em;text-align: center;line-height: 2em;}
.form-course-order .calendar-pager a{margin: 0 10px;text-decoration: none;}
.form-course-order .price-old{text-decoration: line-through;color: #777;font-weight: lighter;white-space: nowrap;text-align: right;margin-right: 21px;display: block;}
.form-course-order .price{white-space: nowrap;text-align: right;display: block;margin-bottom: 8px;}
.form-course-order .field-message .label,
.form-course-order .field-tarif .label{text-align: center;margin: 0 0 11px;font-size: 0.9em;font-weight: normal;}
.form-course-order .info{font-size: 0.9em;margin-bottom: 0.3em;text-align: right;}
.form-course-order .info.primary{font-size: 1.1em;}
.form-course-order .button-group{margin-top: 1.7em;text-align: center;}


.form-course-order #calendarSelector {/* height: 360px; */}
.form-course-order #calendarSelector .date-picker-wrapper.no-topbar{width: 100%;box-sizing: border-box;background: none;border: none;padding: 0;}
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper{border: none;width: 335px;margin: 2px auto;}
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table{width: 339px;margin: 0 auto;}
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table td{width: 47px;/* height: 47px; */} 
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table th{width: 48px;height: 21px;color: #383838;}
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table th:NTH-CHILD(6),
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table th:NTH-CHILD(7){color: #d25fa4;}
.form-course-order #calendarSelector .date-picker-wrapper .month-name{font-size: 1.2em;font-weight: bold;}
.form-course-order #calendarSelector .date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev{color:#854698; font-size: 2em; font-weight: bold;border-radius: 2px;}
.form-course-order #calendarSelector .date-picker-wrapper table .caption .next:hover, .date-picker-wrapper table .caption .prev:hover{background: #854698;color: #fff;}
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table .day{font-size: 1.3em;font-weight: bold;line-height: 36px;margin: 0;border-radius: 3px;cursor: pointer!important;}
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table .day.checked{background-color: #854698!important;}
.form-course-order #calendarSelector .date-picker-wrapper .month-wrapper table .day.real-today{background-color: #eee;}
.form-course-order #calendarSelector .date-picker-wrapper .date-range-length-tip{background: #d25fa4;color: white;font-size: 1.2em;padding: 5px;margin-top: -6px;}
.form-course-order #calendarSelector .date-picker-wrapper .date-range-length-tip:AFTER{display: none;}


.course-order-popup{width: 400px;margin-left: -160px;color: #222;background: #fff url() center top no-repeat;padding-top: 150px;background-size: contain;}
.course-order-popup img{width: 400px;margin: -21px 0 0 -21px;}
.course-order-popup h3{font-size: 1.1em;text-align: left;color: black;margin: 14px 0;text-align: center;}
.course-order-popup p{text-align: left;    margin: 0;    font-weight: normal;    font-size: 1em;}
.course-order-popup p.date{font-size: 1.1em;}
.course-order-popup p.date i, 
.course-order-popup .label i{font-size: 1.1em;color: #854698;}
.course-order-popup .button-group .button+.button{margin-left: 15px;}
.course-order-popup .form-course-order label{font-size: 1em; text-align: left;font-weight: normal;}
.course-order-popup .form-course-order label.radio{width: 394px;margin: 5px 0 0 0;padding: 0 0 5px 0;}
.course-order-popup .form-course-order textarea{border-radius: 10px;background: white;box-shadow: 0 0 4px rgba(135, 135, 135, 0.5);background: white;height: 80px;}
.course-order-popup .form-course-order textarea:FOCUS{box-shadow: 0 0 10px rgba(135, 135, 135, 0.5);}
.course-order-popup .form-course-order [type=submit]{display: inline-block; margin-left: 15px;}