
.form-course-order {max-width: 600px;margin: 0 auto;}
.form-course-order .field-date-list label.label {margin: 7px 0 15px 0;font-size: 0.9em;text-align: center;width: 30%;}

.form-course-order .date-field-toggle-wrapper>.field{margin: 0}


.form-course-order label.radio{padding: 5px 0 17px 0;border-bottom: 1px dashed #ccc;margin: 5px 0;width: 100%;}
.form-course-order label.radio:LAST-CHILD{border-bottom: none;}
.form-course-order label.radio .to-left{width: 170px;margin: 0;padding-left: 20px;}
.form-course-order label.radio .to-right{text-align: right;}

.form-course-order label.radio .date{margin-bottom: 5px;display: inline-block;}

.form-course-order .calendar-pager{font-size: 0.9em;text-align: center;line-height: 2em;}
.form-course-order .calendar-pager a{margin: 0 10px;text-decoration: none;}
.form-course-order .price-old{text-decoration: line-through;color: #777;font-weight: lighter;white-space: nowrap;text-align: right;margin-right: 21px;display: block;}
.form-course-order .price{white-space: nowrap;text-align: right;display: block;margin-bottom: 8px;}
.form-course-order .field-message .label,
.form-course-order .field-tarif .label{text-align: center;margin: 0 0 11px;font-size: 0.9em;font-weight: normal;}
.form-course-order .info{font-size: 0.9em;margin-bottom: 0.3em;text-align: right;}
.form-course-order .info.primary{font-size: 1.1em;}
.form-course-order .button-group{margin-top: 1.7em;text-align: center;}


@media (max-width: 300px) {	
	.form-course-order .field-date-list label.label {	margin: 14px 0;	font-size: 0.9em;	text-align: center;	width: auto;	float: none;	display: inline-block;}
	.form-course-order .field-date-list label.label.to-left{margin-left: 20px;}		
	.form-course-order .field-date-list label.label.to-left:after{content: ' и'}
	.form-course-order label.radio .to-left,
	.form-course-order label.radio .to-right{float: none; display: block;display: block;}
	.form-course-order label.radio .to-right{text-align: left;padding-left: 20px;margin-top: 5px;}
	.form-course-order .price{text-align: left;}	
}
