

/* Catalog page */
.breadcrumb-bar .icon-search.opened{background: #8c4d9e;color: white;margin: 9px 4px 0 0;border-radius: 14px 14px 0 0;}
.breadcrumb-bar .icon-search.opened:before{content: '\e809'}
.purple-bg{background: #8c4d9e;
	background: linear-gradient(to bottom, #8c4d9e 0%,#8c4d9e 0%,#77388a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c4d9e', endColorstr='#7e3e91',GradientType=0 );
	color: #fff;
	box-shadow: 0px 2px 4px rgba(193, 143, 187, 0.55);}
.page-catalog-index .searchForm{
	padding: 4px 8px 20px 8px;
	max-width: 350px;
	margin: 0 auto;
	display: none;	
}
.page-catalog-index .searchForm h2 {margin-top: 10px;margin-bottom: 0;}
.page-catalog-index .searchForm [name=query]{font-size: 1em;padding-right: 33px; }

.page-catalog-index .searchForm .field.field-query{position: relative;}
.page-catalog-index .searchForm .field.field-query:AFTER{content: '\e808';font-family: 'fontello';color: #c9c9c9;position: absolute;right: 10px;top: 0;font-size: 0.9em;line-height: 31px;}  
.page-catalog-index .searchForm label:not(.checkbox) {margin-bottom: 8px;margin-left: 3px;}
.page-catalog-index .searchForm label.checkbox{margin-bottom: 16px;padding-right: 23px;position: relative;display: block;}
.page-catalog-index .searchForm label.checkbox .count{position: absolute;right: 0;top:50%;margin-top: -0.5em;color: #a0a0a0;font-size: 0.9em;}
.page-catalog-index .searchForm .field-price label {text-align: center;}
.page-catalog-index .searchForm .range{margin: 0px 10px 30px 0px;}
.page-catalog-index .searchForm .range .min{font-size: 8px;}
.page-catalog-index .searchForm .range .max{font-size: 8px; float: right;}
.page-catalog-index .searchForm .range:AFTER{display: block;content: ''; clear: both;}
.page-catalog-index .searchForm .range .range-left{font-size: 17px;float: left;margin: 0 0 9px 0px;line-height: 22px;font-weight: normal;font-size: inherit;}
.page-catalog-index .searchForm .range .range-right{font-size: 16px;float: right;margin: 0 0 7px 0px;line-height: 20px;font-family: Helvetica Neue;vertical-align: bottom;font-size: inherit;}
.page-catalog-index .searchForm .range .range-right .value{font-size: 18px;}
.page-catalog-index .searchForm .buttons{position: fixed; bottom: 0}
.page-catalog-index .searchForm .buttons:AFTER{clear: both; display: block;content: '';text-align: center;}
	
.page-catalog-index .searchForm .buttons{white-space: nowrap;position: relative;height: 36px; }
.page-catalog-index .searchForm .buttons.fixed{position: fixed;bottom: -2px;left: -2px;right: -2px;z-index: 500;}
.page-catalog-index .searchForm .buttons button{width: 50%; line-height: 36px;	height: 36px;	text-align: center;	display: inline-block;
	text-decoration: none;	font-family: Comfortaa, cursive;	margin: 0;	padding: 0;	width: 100%;}
.page-catalog-index .searchForm .buttons.fixed button{border-radius: 0;margin: 0;position: absolute;right: 0;left: 0px;}
	
	
.page-catalog-index .searchForm .preview{ margin-top: 4.8em;	background: #d25fa4;	color: white;	position: absolute;	left: 285px;	height: 1.4em;	line-height: 1.4em;	text-align: center;	z-index: 490;	box-shadow: 5px 5px 13px -6px black;	padding: 0.6em 1.2em;	font-size: 1em;	border-radius: 5px;	display: none;	transition: top 500ms cubic-bezier(0.66, 1.63, 0.74, 1.01);	}
.page-catalog-index .searchForm .preview:BEFORE{	content: '\e80A';	font-family: 'fontello';	display: inline-block;	position: absolute;	top: 50%;	margin-top: -0.99em;	left: -10px;	color: #d25fa4;	font-size: 2em;	line-height: 2em;}
.page-catalog-index .searchForm .preview>*{display: none;}
.page-catalog-index .searchForm .preview.loading .loading{display: block;font-size: 1em;line-height: 24px;padding-right: 0;width: 74px;margin: 0 auto;}
.page-catalog-index .searchForm .preview.normal .normal{display: block;}
.page-catalog-index .searchForm .preview a {color: #ffffff;/* font-weight: lighter; */}
.page-catalog-index .searchForm .preview a:HOVER {color: white;}
.page-catalog-index .searchForm .preview.zero .zero{display: block;}

.page-catalog-index .searchForm .period-menu{margin-top: 0.6em}

.page-catalog-index .searchForm .period-menu a{padding: 0.7em 0 0.7em 0.8em;color: #ffffff;display: block;}
.page-catalog-index .searchForm .period-menu span{padding: 0.7em 0 0.7em 0.8em;color: #d25fa4;display: block;}



