
section.main .userpick{float: right;/* padding-top: 90px; */width: 380px;border-radius: 4px;}
section.main .content{/* float: left; */width: 760px;}


section.consult h2{text-align: left;margin-top: 1.1em;}
section.consult .with-right-aside{width: 680px;}
section.consult aside.right {margin-top: 16px;padding: 0px 20px 40px 20px;border-radius: 4px;width: 460px;}
section.consult aside.right h3{font-family: Comfortaa;margin-top: 1.6em;margin-bottom: 1.3em;}
section.consult aside.right .error-msg{background: white;color: red;padding: 10px 20px;margin: 0 -20px;text-align: center;display: none;}
section.consult aside.right label:not(.checkbox) {margin-bottom: 13px;line-height: 0.9em;margin-left: 4px;/* font-weight: bold; */font-size: 0.9em;margin-left: 7px;}
section.consult aside.right label.checkbox{font-size: 0.9em;margin-bottom: 21px;padding-right: 110px;position: relative;display: block;font-weight: 300;}
section.consult aside.right label.checkbox .price{position: absolute;right: 0;top:50%;margin-top: -0.5em;color: #ffffff;font-size: 0.9em;}
section.consult aside.right label.checkbox input:CHECKED+span, 
section.consult aside.right label.checkbox input:CHECKED+span+.price{}

section.consult aside.right .buttons{padding: 1.8em 0.7em 0em;}
section.consult aside.right .fast-buttons{text-align: center;}
section.consult aside.right .fast-buttons button{margin-left: 40px;}
section.consult aside.right .form input,section.consult aside.right .form textarea{box-shadow: none} 
section.consult aside.right .form label .error{color: #ff8c8c;text-align: center;display: none;}
section.consult aside.right .form .has-error label .error{display: inline;}
section.consult aside.right .form .has-error label.required:AFTER{color: #ff8c8c;}
section.consult aside.right .fast-done {display: none;margin-top: 4em;}
section.consult aside.right .fast-done p{text-align: center;padding: 30px;line-height: 2em;font-weight: normal;}

section.courses .course-list{   margin-left: -20px;}
section.courses .block{display: inline-block;width: 395px;padding-left: 20px;box-sizing: border-box;vertical-align: top;font-size: 0.9em;margin-bottom: 38px;cursor: pointer;}
section.courses .block img {margin: 0;width: 100%;max-width: none;border-radius: 11px;}
section.courses .block h2 {margin-top: 17px;margin-bottom: 15px;text-align: left;font-family: Helvetica Neue;font-weight: bold;}
section.courses .block p {/* margin-bottom: 11px; */}
section.courses .block p.info a,
section.courses .block .view-more{white-space: nowrap; border-bottom: none;}
section.courses .block p.info a.with-icon {border: none;text-decoration: underline;}
section.courses .block p.info a.with-icon>span{border-bottom: 1px dotted rgba(255, 255, 255, 0);transition: border-color 200ms ease;}
section.courses .block p.info a.with-icon:HOVER>span{border-bottom: 1px dotted black;}
section.courses .block p.info i{color: black;font-size: 0.9em;}
section.courses .block p.info a.like{float: right;}
section.courses .block p.info a.like i{color: #ff6580;}


section.education {font-weight: lighter;}
section.education .content{font-size: 0.9em;}
section.education .diplomas  {text-align: center;overflow: hidden;}
section.education .diplomas  .column{width: 172px;display: inline-block;vertical-align: top;}
section.education .diplomas .column-view-item{margin-bottom: 10px;display: inline-block;}
section.education .diplomas >.column-view-item {display: none;}
section.education .diplomas{}
section.education .diplomas a{margin-bottom: 15px;display: inline-block;padding: 5px 5px 2px 5px;border: 1px solid rgba(255, 233, 246, 0.42);}
section.education .diplomas a img{width: 100%;}




