
section.main .userpick{max-width: 380px;width: 100%;margin: 0 auto;display: block;margin-bottom: 2em;}
section.main .content{}

section.consult {padding-bottom: 0}
section.consult h2{text-align: center;}
section.consult .form-wrp {margin: 0px -20px;padding: 1px 20px 3em 20px;width: 100%;background: #8c4d9e;background: linear-gradient(to bottom,  #8c4d9e 0%,#8c4d9e 0%,#77388a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c4d9e', endColorstr='#7e3e91',GradientType=0 ); /* IE6-9 */color: white;box-shadow: 0px 2px 4px rgba(193, 143, 187, 0.55);}
section.consult .form-wrp form{max-width: 600px; margin: 0 auto;}
section.consult .form-wrp h3{font-family: Comfortaa;margin-top: 1.6em;margin-bottom: 1.3em;text-align: center;}
section.consult .form-wrp .error-msg{background: white;color: red;padding: 10px 20px;margin: 0 -20px;text-align: center;display: none;}
section.consult .form-wrp label:not(.checkbox) {margin-bottom: 13px;line-height: 0.9em;margin-left: 4px;/* font-weight: bold; */font-size: 0.9em;margin-left: 7px;}
section.consult .form-wrp label.checkbox{font-size: 0.9em;padding: 6px 6px 6px 10px;position: relative;display: block;font-weight: 300;}
section.consult .form-wrp .buttons{padding: 0.3em 0 0 0;}
section.consult .form-wrp .buttons button{margin-bottom: 1em;}
section.consult .form-wrp .buttons a{color: white}
section.consult .form-wrp .fast-buttons{text-align: center;}
section.consult .form-wrp .fast-buttons button{
    margin: 1em 0 0 1em;
}
@media(max-width: 400px){
	section.consult .form-wrp .buttons .s-hidden{display: none;}
}
section.consult .form-wrp .form input,
section.consult .form-wrp .form textarea{box-shadow: none} 
section.consult .form-wrp .form label .error{color: #ff8c8c;text-align: center;display: none;}
section.consult .form-wrp .form .has-error label .error{display: inline;}
section.consult .form-wrp .form .has-error label.required:AFTER{color: #ff8c8c;}
section.consult .form-wrp .fast-done {display: none;margin-top: 4em;}
section.consult .form-wrp .fast-done p{text-align: center;padding: 30px;line-height: 2em;font-weight: normal;}
section.consult .form-wrp label.checkbox .price,
section.consult .form-wrp label.checkbox input+span{	position: static;	display: block;	padding: 5px 0 0 20px;}
section.consult .form-wrp label.checkbox input+span{font-size: 1.1em;margin-bottom: 0.2em;}


section.courses h2{	font-family: Comfortaa;    margin-top: 1.6em;    margin-bottom: 1.3em;    text-align: center;}

section.education {font-weight: lighter;padding: 1px 0 2.5em 0;}
section.education .content{font-size: 0.9em;}
section.education ul.diplomas{height: 140px!important; overflow: hidden;}
section.education ul.diplomas li{display: none;}
section.education ul.diplomas li.lslide{padding: 4px 6px;border: 1px solid rgba(255, 233, 246, 0.42);display: inline-block;margin: 0px 15px 0px 2px;box-sizing: border-box;}
section.education ul.diplomas li a{border: none;}
section.education ul.diplomas li img{height: 126px;}




