.switcher{text-align: center;margin-top: 4em;}
.switcher a{transition: all 200ms ease}
.switcher a:first-child{margin-bottom: 10px;margin-right: 10px;}
.switcher a.active{background: white;color: black;}

.page-register .main .form-login{padding: 0 15px;max-width: 400px;margin: 0 auto 7em auto;}
.page-register .main .form-register{padding: 0 15px;max-width: 600px;margin: 0 auto 7em auto;}
.page-register .main .form-login .forget, 
.page-register .main .form-login [type=submit],
.page-register .main .form-register [type=submit]{line-height: 2.5em;margin: 0 auto;}

.page-register .main .form-login .error-_login{text-align: center;margin-top: 16px;}
.page-register .main .form-login .social-login{margin: 2em 15px;text-align: center;}
.page-register .main .form-login .social-login a {vertical-align: -0.25em;margin-left: 7px;color: #d25fa4;}
.page-register .main .form-login .social-login a i {    font-size: 2em;}

@media(max-width: 300px){
	.page-register .main .form-login .forget.to-left{float: none;text-align: center;margin: 17px 0 10px 0;}
	.page-register .main .form-login [type=submit]{float: none;margin: 0 auto;display: block;}
	.page-register .main .form-login .social-login{margin-top: 0;line-height: 3em;}
}


.page-customer-cabinet .main .form-password {max-width: 400px;margin: 0 auto 4em auto;position: relative;}
.page-customer-cabinet .main .form-password .success{ position: absolute;    top: 50%;    left: 50%;    margin-left: -160px;    width: 320px;
    text-align: center;    background: rgba(255, 255, 255, 0.9);    padding: 15px;    margin-top: -117px;    display: none;    padding: 60px 4px 160px;   cursor: pointer;   }
.page-customer-cabinet .main .form-user-commons {max-width: 400px;margin: 0 auto 3em auto;}
.page-customer-cabinet .main .field-sex .label{display: inline-block;margin-right: 40px;}
.page-customer-cabinet .main .image-panel{padding: 1em 0 0em 0;}
.page-customer-cabinet .main .image-wrp {text-align: center;padding-top: 1em;}
.page-customer-cabinet .main .image-wrp img{max-width: 100%;}
.page-customer-cabinet .main .form-user-social {text-align: center;margin: 3em auto;}
.page-customer-cabinet .main .form-user-social a i{color: inherit;font-size: 1.4em;vertical-align: -0.1em;}
.page-customer-cabinet .main .panel{padding: 1em}
.page-customer-cabinet .main .image-panel{position: relative;}
.page-customer-cabinet .main .image-panel [type=file]{width: 0px; height: 0px; left:-5000px; position: absolute;}
.page-customer-cabinet .main .image-panel .error{	position: absolute;    top: 50%;    left: 50%;    margin-left: -160px;    width: 320px;
    text-align: center;    background: rgba(255, 255, 255, 0.7);    color: #f00;    padding: 15px;    margin-top: -25px;    display: none;}
    
@media(max-width: 300px){
.page-customer-cabinet .main .field-sex label.radio{display: block;padding: 5px 10px;margin: 0;}
.page-customer-cabinet .main .form-user-social a .s-hidden{display: none;}
}    

.info-message{display: inline-block;margin-bottom: 2em;}
.info-message:AFTER{clear: both; display: block; content: ' '}
.info-message .image{float: left;}
.info-message .image img{width: 50px;margin-top: 7px;}
.info-message .image+div{display: block;margin-left: 70px;}
.info-message h2{margin: 0.1em 0 0.5em 0;text-align: left;font-weight: bold;}
.info-message p{margin-bottom: 0.5em;font-size: 1em;}
.info-message p.sign{margin-top: 20px;}
.info-message p i {color: #854698;}
.info-message .price-old{color: gray; text-decoration: line-through;}
.info-message+.info-message{display: none;}

.page-forget .panel-w50{margin: 0 auto;display: block;padding-bottom: 4em;}
.page-forget .main .form-password {width: 300px; margin: 0 auto;}
.page-forget .main .form-password .error{margin: 16px 0 0 0;text-align: center;}

.form.gray input.monospaced{font-family: monospace;font-size: 12.8px;padding: 0px 15px;font-weight: bold;}



.page-customer-calendar .payment-block{text-align: center;}
.page-customer-calendar .payment-block h2{margin: 0.5em 0 1em 0}
.page-customer-calendar .shedule-block{}

.shedule-block{font-size: 0.9em;margin: 2.5em 0;padding: 2.5em 1em 1em;}
.shedule-block h3{ margin-top: 0;}
.shedule-block .date-big{font-size: 2.3em;color: #c2c2c2;line-height: 1em;text-align: center;margin-bottom: 0.3em;}
.shedule-block .date{ line-height: 1em;    text-align: center;    margin-bottom: 0.6em;}
.shedule-block .time-till-wrp{margin-top: 1em;padding-left: 0;padding-top: 17px;width: 100%;text-align: center;}
.shedule-block .time-till-wrp:BEFORE{top:0;left:50%;margin-left: -5px;margin-top: 0;}
.shedule-block .price-old{margin-bottom: 0}
.shedule-block .status{text-align: center;margin-top: 2em;}
.shedule-block .status>a{/* color: rgb(153, 153, 153); */}
.shedule-block .status>label{}
.shedule-block .status>label>input{vertical-align: text-bottom;}
.shedule-block .status>.cancel-link{padding: 10px; color: #999}
@media(min-width:301px){
	.shedule-block .date-wrp{width: 90px;display: block;float: left;}
	.shedule-block .text-wrp{display: block;margin-left: 110px;}
	
	.shedule-block .status>*+*{margin-left: 15px;}
}
@media(max-width:300px){	
	.shedule-block .date-wrp{width: 100%;}	
	.shedule-block .status>*{display: block;}
	.shedule-block .status>*+*{}
}
